@import "../../node_modules/materialize-css/sass/components/_color.scss";
@import "../../node_modules/materialize-css/sass/components/_variables.scss";
@import "../../node_modules/materialize-css/sass/components/_normalize.scss";
@import "../../node_modules/materialize-css/sass/components/_typography.scss";
@import "../../node_modules/materialize-css/sass/components/_global.scss";
@import "../../node_modules/materialize-css/sass/components/_tabs.scss";
@import "../../node_modules/materialize-css/sass/components/forms/_forms.scss";
@import "../../node_modules/materialize-css/sass/components/_navbar.scss";
@import "../../node_modules/materialize-css/sass/components/_buttons.scss";

@import './shared.scss';

nav {
  background-color: $blue;
}

.content-body {
	padding: 0px $options-wall-padding;
}

p {
	font-size: 14px;
}

a.btn {
	background-color: $blue;

	&:hover {
		background-color: $blue;
		opacity: .7;
	}
}

h3 {
	margin: 1.6rem 0 .8rem 0
}