@import './shared.scss';

nav {
  background-color: $blue;
}

.content-body {
	padding: 0px $options-wall-padding;
}

p {
	font-size: 14px;
}

a.btn {
	background-color: $blue;

	&:hover {
		background-color: $blue;
		opacity: .7;
	}
}

h3 {
	margin: 1.6rem 0 .8rem 0
}