@import './shared.scss';

@import "~materialize-css/sass/components/_tabs.scss";
@import "~materialize-css/sass/components/forms/_switches.scss";
@import "~materialize-css/sass/components/_navbar.scss";
@import "~materialize-css/sass/components/_chips.scss";
@import "~materialize-css/sass/components/_buttons.scss";

nav {
  background-color: $blue;
}

.content-body {
	padding: 0px $options-wall-padding;
}

p {
	font-size: 14px;
}

a.btn {
	background-color: $blue;

	&:hover {
		background-color: $blue;
		opacity: .7;
	}
}

h3 {
	margin: 1.6rem 0 .8rem 0
}

.switch label input[type=checkbox]:checked + .lever {
	background-color: $green;
	&:after {
		background-color: $light-green;
	}	
}

.database-manager {
	background-color: $light-background-color;

	.error {
		font-size: 12px;
	}

	svg {
    width: 18px;
    vertical-align: middle;
  }
  .chip {
		height: 24px;
		line-height: 24px;
		font-size: 11px;
	}
	.description {
		font-size: 12px;
		font-color: $dark-background-color;
	}
	.between {
		line-height: 36px;
	}
}