$dark-gray: #3d3d3d;
$light-gray: #E7E8EA;
$green: #4caf50;
$light-green: #79ac93;
$warn-yellow: #f8dd6b;
$light-red: #e19e97;
$blue: #0089ec;
$background-color: #F7F9FA;
$light-background-color: #FFF;
$dark-background-color: #d1d3d5;
$text-color: #2c3e50; 
$highlighted: #fff1c0;

$wall-padding: 16px;
$options-wall-padding: 20px;

$options-width: 800px;