$dark-gray: #3d3d3d;
$light-gray: #E7E8EA;
$green: #48a176;
$light-green: #79ac93;
$warn-yellow: #f8dd6b;
$light-red: #e19e97;
$background-color: #F7F9FA;
$light-background-color: #FFF;
$text-color: #2c3e50; 

$wall-padding: 10px;