@import "./settings.scss";

.selectable {
  transition: all .3s ease;
  &:hover {
    cursor: pointer;
  }

  &.flair:hover {
    padding-left: 15px;
  }
}

.between {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.stack-item {
  box-sizing: border-box;
  width: 100%;
}

.error {
  background-color: $light-red;
}

.warn {
  background-color: $warn-yellow;
}

.box-bar {
  
  width: 100%;
  box-sizing: border-box;
  padding: $wall-padding;
  border-bottom: 2px solid $light-gray;
  font-size: 18px;
  
  &.button {
    background-color: $background-color;
  }

  &.roomy {
    padding: $wall-padding $options-wall-padding;

    &.small {
      padding: 6px $options-wall-padding;
      font-size: 14px;
    }
  }

  &.small {
    padding: 6px $wall-padding;
    font-size: 12px;
  }

  &.medium {
    padding: 8px $wall-padding;
    font-size: 14px;
  }

  &.lighter {
    background-color: $light-background-color;
  }

  &.plain {
    border-bottom: 0px;
  }
}