/*! CKP - KeePass integration for Chrome™, Copyright 2017 Steven Campbell
    This file is generated.
*/
.transition {
  transition: all 250ms ease 0s;
}
.strike {
  text-decoration: line-through;
}
html,
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
}
body {
  max-width: 600px;
  min-width: 400px;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
}
ng-view {
  display: block;
}
ng-view.ng-enter {
  -webkit-animation: fadeInDown 0.3s;
  animation: fadeInDown 0.3s;
}
options-link {
  display: block;
  position: fixed;
  right: -3;
  bottom: -1;
}
options-link .icon {
  color: rgba(129, 194, 255, 0.8);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
options-link .icon:hover {
  color: rgba(0, 120, 231, 0.8);
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
.icon {
  display: inline-block;
  color: #444444;
  fill: currentColor;
  transition: all 250ms ease 0s;
}
.fill {
  width: 100%;
  box-sizing: border-box;
}
fieldset {
  margin-top: 8px;
}
fieldset.ng-hide-add {
  -webkit-animation: zoomOut 0.3s;
  animation: zoomOut 0.3s;
}
filelist ul,
passwordMatches ul,
keyFiles ul {
  overflow: auto;
}
filelist ul li,
passwordMatches ul li,
keyFiles ul li {
  border: 1px solid #eeeeee;
  background: #eee;
  padding: 4px;
  margin: 4px 0;
  display: block;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  transition: all 250ms ease 0s;
}
filelist ul li.not-selectable,
passwordMatches ul li.not-selectable,
keyFiles ul li.not-selectable {
  cursor: default;
}
filelist ul li.not-selectable:hover,
passwordMatches ul li.not-selectable:hover,
keyFiles ul li.not-selectable:hover {
  box-shadow: none;
  background: #fbfbfb;
  border-color: #eee;
}
filelist ul li:hover,
passwordMatches ul li:hover,
keyFiles ul li:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: rgba(0, 128, 255, 0.2);
  border-color: rgba(0, 128, 255, 0.5);
}
filelist ul li date,
passwordMatches ul li date,
keyFiles ul li date {
  font-size: 0.8em;
  color: rgba(77, 77, 77, 0.9);
}
filelist ul li .icon,
passwordMatches ul li .icon,
keyFiles ul li .icon {
  width: 18px;
  height: 18px;
  padding: 0 4px;
}
filelist ul li .removeFile,
passwordMatches ul li .removeFile,
keyFiles ul li .removeFile {
  float: right;
}
filelist ul li .removeFile .icon,
passwordMatches ul li .removeFile .icon,
keyFiles ul li .removeFile .icon {
  padding: 0;
  color: rgba(255, 128, 128, 0.5);
}
filelist ul li .removeFile .icon:hover,
passwordMatches ul li .removeFile .icon:hover,
keyFiles ul li .removeFile .icon:hover {
  color: rgba(255, 26, 26, 0.5);
}
filelist ul li.ng-leave,
passwordMatches ul li.ng-leave,
keyFiles ul li.ng-leave {
  -webkit-animation: zoomOut 0.3s;
  animation: zoomOut 0.3s;
}
filelist ul li.ng-enter,
passwordMatches ul li.ng-enter,
keyFiles ul li.ng-enter {
  -webkit-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s;
}
button .icon,
a .icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  padding-right: 4px;
}
button.pure-button-primary .icon,
a.pure-button-primary .icon {
  color: white;
}
.pure-table {
  font-size: small;
  margin-top: 8px;
  width: 100%;
}
.pure-table td .icon {
  width: 19px;
  height: 19px;
}
.pure-table td .icon:hover {
  color: #c3c3c3;
}
table.entries {
  table-layout: fixed;
}
table.entries td,
table.entries th {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
table.entries td a,
table.entries th a {
  text-overflow: inherit;
  overflow-wrap: normal;
  font-size: 1em;
  font-weight: 600;
  color: rgba(0, 120, 231, 0.8);
}
table.entries td a:visited,
table.entries th a:visited {
  color: rgba(0, 120, 231, 0.8);
}
table.entries td a:hover,
table.entries th a:hover {
  color: rgba(0, 67, 129, 0.8);
}
statusMessage {
  display: block;
  padding: 4px 0;
  font-weight: 600;
}
keyFileName {
  display: block;
}
keyFileName div.center {
  text-align: center;
}
pageInfo,
compositeKeyPart,
.compositeKeyPart {
  background: #eee;
  display: block;
  padding: 4px;
  border: solid 2px #d5d5d5;
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}
pageInfo-remember,
compositeKeyPart-remember,
.compositeKeyPart-remember {
  padding-top: 8px;
  display: block;
}
pageInfo-remember input,
compositeKeyPart-remember input,
.compositeKeyPart-remember input {
  display: inline-block;
  float: right;
  margin-top: -8px;
  width: 80px;
}
passwordMatches {
  display: block;
  max-height: 150px;
  overflow-y: scroll;
}
warningMessage {
  margin-top: 8px;
  background: rgba(255, 153, 51, 0.5);
  display: block;
  padding: 4px;
  border: solid 2px rgba(255, 128, 0, 0.8);
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.9);
}
successMessage {
  margin-top: 8px;
  background: rgba(100, 220, 100, 0.5);
  display: block;
  padding: 4px;
  border: solid 2px rgba(58, 211, 58, 0.8);
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.9);
}
busyMessage,
infoMessage {
  background: rgba(255, 255, 100, 0.1);
  display: block;
  padding: 4px;
  border: solid 1px rgba(255, 255, 49, 0.4);
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
errorMessage {
  background: #B71C1C;
  display: block;
  padding: 4px;
  border: solid 2px #8b1515;
  margin: 4px 0;
  color: rgba(255, 255, 255, 0.9);
}
drop-target {
  display: block;
  height: 127px;
  padding: 8px;
  margin: 8px 0;
  border: dashed 3px rgba(0, 0, 0, 0.5);
  cursor: copy;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  transition: all 250ms;
}
drop-target.over,
.over drop-target {
  background: rgba(0, 128, 255, 0.2);
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(0, 120, 231, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  margin-top: -2px;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid black;
  height: 18px;
  width: 10px;
  border-radius: 2px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.keepass-icon {
  background-image: url(/assets/icons.png);
  background-repeat: no-repeat;
  display: block;
}
.keepass-icon.icon-id-00 {
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-01 {
  background-position: -16px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-02 {
  background-position: -32px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-03 {
  background-position: -48px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-04 {
  background-position: -64px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-05 {
  background-position: -80px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-06 {
  background-position: -96px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-07 {
  background-position: -112px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-08 {
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-09 {
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-10 {
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-11 {
  background-position: -48px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-12 {
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-13 {
  background-position: -80px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-14 {
  background-position: -96px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-15 {
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-16 {
  background-position: 0 -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-17 {
  background-position: -16px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-18 {
  background-position: -32px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-19 {
  background-position: -48px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-20 {
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-21 {
  background-position: -80px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-22 {
  background-position: -96px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-23 {
  background-position: -112px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-24 {
  background-position: 0 -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-25 {
  background-position: -16px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-26 {
  background-position: -32px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-27 {
  background-position: -48px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-28 {
  background-position: -64px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-29 {
  background-position: -80px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-30 {
  background-position: -96px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-31 {
  background-position: -112px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-32 {
  background-position: 0 -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-33 {
  background-position: -16px -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-34 {
  background-position: -32px -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-35 {
  background-position: -48px -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-36 {
  background-position: -64px -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-37 {
  background-position: -80px -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-38 {
  background-position: -96px -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-39 {
  background-position: -112px -64px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-40 {
  background-position: 0 -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-41 {
  background-position: -16px -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-42 {
  background-position: -32px -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-43 {
  background-position: -48px -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-44 {
  background-position: -64px -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-45 {
  background-position: -80px -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-46 {
  background-position: -96px -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-47 {
  background-position: -112px -80px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-48 {
  background-position: 0 -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-49 {
  background-position: -16px -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-50 {
  background-position: -32px -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-51 {
  background-position: -48px -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-52 {
  background-position: -64px -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-53 {
  background-position: -80px -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-54 {
  background-position: -96px -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-55 {
  background-position: -112px -96px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-56 {
  background-position: 0 -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-57 {
  background-position: -16px -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-58 {
  background-position: -32px -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-59 {
  background-position: -48px -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-60 {
  background-position: -64px -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-61 {
  background-position: -80px -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-62 {
  background-position: -96px -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-63 {
  background-position: -112px -112px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-64 {
  background-position: -128px 0;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-65 {
  background-position: -128px -16px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-66 {
  background-position: -128px -32px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-67 {
  background-position: -128px -48px;
  width: 16px;
  height: 16px;
}
.keepass-icon.icon-id-68 {
  background-position: -128px -64px;
  width: 16px;
  height: 16px;
}
body {
  padding: 16px;
  max-width: 800px;
  min-width: 700px;
  min-height: 591px;
  max-height: 600px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  overflow-y: auto;
}
body p {
  line-height: 1.2em;
}
ng-view.ng-enter {
  -webkit-animation: zoomInLeft 0.3s;
  animation: zoomInLeft 0.3s;
}
.standard {
  list-style-position: inside;
  padding-left: 8px;
}
.standard li {
  list-style-type: disc;
}
.pure-form fieldset legend {
  font-style: italic;
  font-weight: 500;
  background-color: rgba(0, 128, 255, 0.2);
  padding-left: 4px;
  box-sizing: border-box;
}
.pure-form fieldset legend .icon {
  width: 18px;
  height: 18px;
  padding: 0 4px;
}
keyfiles {
  display: block;
}
keyfiles li {
  display: block;
}
.menu {
  display: block;
  margin-bottom: 4px;
  border-bottom: 4px solid rgba(78, 170, 255, 0.8);
}
.menu a {
  text-decoration: none;
  padding: 8px;
}
.menu .menu-item {
  display: inline-block;
  background-color: rgba(0, 120, 231, 0.8);
  color: white;
}
.menu .menu-item:hover {
  background-color: rgba(78, 170, 255, 0.8);
}
.menu .menu-item.selected {
  background-color: rgba(78, 170, 255, 0.8);
}
table.fixed {
  table-layout: fixed;
}
table.fixed td.key,
table.fixed th.key {
  width: 120px;
}
table.fixed td.json,
table.fixed th.json {
  width: 300px;
}
table.fixed td.json .json-formatter-row,
table.fixed th.json .json-formatter-row {
  max-width: 500px;
}
table.fixed td.action,
table.fixed th.action {
  width: 100px;
}
fileTypes {
  display: block;
  margin-bottom: 60px;
}
fileTypes fileType {
  display: block;
  height: 70px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  border: solid 1px #eeeeee;
  background: #eee;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 250ms ease 0s;
}
fileTypes fileType:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: rgba(0, 128, 255, 0.2);
  border: solid 1px rgba(0, 128, 255, 0.5);
}
fileTypes fileType:hover .icon {
  -webkit-animation: tada 1s;
  animation: tada 1s;
  color: rgba(0, 120, 231, 0.8);
}
fileTypes fileType .icon {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  padding-bottom: 8px;
}
fileTypes fileType .deprecated {
  color: rgba(204, 102, 0, 0.5);
  font-size: smaller;
  font-weight: 700;
}
table.settings.entries {
  table-layout: fixed;
}
table.settings.entries td,
table.settings.entries th {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
table.settings.entries td input[type=radio],
table.settings.entries th input[type=radio] {
  position: relative;
  left: -1px;
}
table.settings.entries td input[type=radio] + label,
table.settings.entries th input[type=radio] + label {
  position: relative;
  left: -2px;
  padding-right: 1px;
}
table.settings.entries td input + label,
table.settings.entries th input + label {
  color: black;
  font-weight: 600;
  margin-right: 10px;
  padding: 5px;
  vertical-align: middle;
}
pageinfo.shared-link-box {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: space-between;
  align-items: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: stretch;
  align-content: stretch;
}
pageinfo.shared-link-box input {
  width: 25%;
}
pageinfo.shared-link-box input#shared-link {
  width: 48%;
}
