@import '../popups/popup.less';

body {
  padding: 16px;
  max-width: 800px;
  min-width: 700px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

ng-view {
  &.ng-enter {
    -webkit-animation: zoomInLeft 0.3s;
    animation: zoomInLeft 0.3s;
  }
}

.pure-form {
  fieldset {
    legend {
      font-style: italic;
      font-weight: 500;
      background-color: @light-blue-bg;
      padding-left: 4px;
      box-sizing: border-box;

      .icon {
        width: 18px;
        height: 18px;
        padding: 0 4px;
      }
    }
  }
}

keyfiles {
  display: block;

  li {
    display: block;
  }
}

.menu {
  display: block;
  margin-bottom: 4px;
  border-bottom: 2px solid @blue-bg;

  a {
    text-decoration: none;
    padding: 8px;
  }

  .menu-item {
    display: inline-block;
    background-color: @blue-bg;
    color: white;

    &:hover {
      background-color: lighten(@blue-bg, 20%);
    }

    &.selected {
      background-color: lighten(@blue-bg, 20%);
    }
  }
}
table.fixed {
  table-layout: fixed;

  td, th {
    &.key {
      width: 120px;
    }

    &.json {
      width: 300px;

      .json-formatter-row {
        max-width: 500px;
      }
    }

    &.action {
      width: 100px;
    }
  }
}
