html, body {
  margin: 0;
}

body {
  width: 400px;
  padding: 16px;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

filelist ul, passwordMatches ul {
  overflow: auto;
}

filelist li, passwordMatches li {
  border: 1px solid #ccc;
  padding: 4px;
  margin: 4px 0;
  background: #eee;
  color: #666666;
  display: block;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  /* -webkit-padding-start: 0; */
}

filelist li.selected {
  background: #ccc;
}

.icon {
	display: inline-block;
	color: #444444;
	fill: currentColor;
}

button .icon {
  width: 19px;
  height: 19px;
  vertical-align: text-top;
  padding-right: 4px;
}

pageInfo {
  background: #EEE;
  display: block;
  padding: 4px;
  border: solid 2px #CCC;
  font-weight: 600;
}

passwordMatches {
  display: block;
  max-height: 150px;
  overflow-y: scroll;
}

successMessage {
  background: rgba(100, 255, 100, 0.5);
  display: block;
  padding: 4px;
  border: solid 2px rgba(100, 255, 100, 0.8);
}

busyMessage, infoMessage {
  background: rgba(255, 255, 100, 0.1);
  display: block;
  padding: 4px;
  margin: 4px 0;
  border: solid 2px rgba(255, 255, 200, 0.5);
}

errorMessage {
  background: rgba(255, 100, 100, 0.5);
  display: block;
  padding: 4px;
  border: solid 2px rgba(255, 100, 100, 0.5);
}