html, body {
  margin: 0;
}

body {
  width: 400px;
  padding: 16px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

filelist ul, passwordMatches ul {
  overflow: auto;
}

filelist li, passwordMatches li {
  border: 1px solid #ccc;
  padding: 4px;
  margin: 4px 0;
  background: rgba(0,0,0,0.05);
  display: block;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
}
filelist li:hover, passwordMatches li:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: rgba(0,128,255,0.2);
}
filelist li date {
  font-size: 0.8em;
  color: rgba(0,0,0,0.4);
}
filelist li .removeFile {
  float: right;
}
filelist li .removeFile .icon {
  width: 18px;
  height: 18px;
  color: rgba(255, 128, 128, 0.5);
}
filelist li .removeFile .icon:hover {
  color: rgba(255, 128, 128, 0.9);
}

.icon {
	display: inline-block;
	color: #444444;
	fill: currentColor;
  transition: all 0.3s ease 0s;
}

button .icon {
  width: 19px;
  height: 19px;
  vertical-align: text-top;
  padding-right: 4px;
}

.pure-table {
  font-size: small;
  margin-top: 8px;
  width: 100%;
}

td .icon {
  width: 19px;
  height: 19px;
}

td .icon:hover {
  opacity: 0.5;
}

statusMessage {
  display: block;
  padding: 4px 0;
  font-weight: 600;
}

pageInfo {
  background: #EEE;
  display: block;
  padding: 4px;
  border: solid 2px #CCC;
  font-weight: 600;
}

passwordMatches {
  display: block;
  max-height: 150px;
  overflow-y: scroll;
}

successMessage {
  margin-top: 8px;
  background: rgba(100, 255, 100, 0.5);
  display: block;
  padding: 4px;
  border: solid 2px rgba(100, 255, 100, 0.8);
}

busyMessage, infoMessage {
  background: rgba(255, 255, 100, 0.1);
  display: block;
  padding: 4px;
  margin: 4px 0;
  border: solid 1px rgba(100, 100, 0, 0.5);
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

errorMessage {
  background: rgba(255, 100, 100, 0.5);
  display: block;
  padding: 4px;
  border: solid 2px rgba(255, 100, 100, 0.5);
}

fileTypes {
  display: block;
  margin-bottom: 60px;
}
fileTypes fileType {
  display: block;
  height: 70px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.05);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 250ms;
}
fileTypes fileType:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: rgba(0,128,255,0.2);
}
fileTypes fileType:hover .icon {
  -webkit-animation: tada 1s;
  animation: tada 1s;
  color: rgba(0,128,255,0.5);
}
fileTypes fileType .icon {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  padding-bottom: 8px;
}

errorMessage.ng-hide-remove {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

drop-target {
  display: block;
  height: 60px;
  padding: 8px;
  margin: 8px 0;
  border: dashed 3px rgba(0,0,0,0.5);
  cursor: copy;
  text-align: center;
  color: rgba(0,0,0,0.5);
  transition: all 250ms;
}

drop-target.over {
  background: rgba(0,128,255,0.2);
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

filelist li.ng-leave {
  -webkit-animation: zoomOut 0.3s;
  animation: zoomOut 0.3s;
}

ng-view.ng-enter {
  -webkit-animation: fadeInDown 0.3s;
  animation: fadeInDown 0.3s;
}


