
<fieldset>
  CKP can only keep your password file open in-memory for a very brief
  time, typically about 10 seconds after you close the popup.  This can be frustrating if you have a long
  password and you need to access several websites.
  <pageInfo>
    <input id="diskCache" type="checkbox" ng-model="useDiskCache" ng-change="updateDiskCacheFlag()"> <label for="diskCache">Use encrypted cache to keep database open longer</label>
  </pageInfo>
  Check the box above to enable disk-caching.  With this
  option enabled, an unlocked database is encrypted and stored locally so that
  you don't have to re-type your password for each website.  The cache expires
  automatically after about 40 minutes.
  <br /><br />
  Technical information on this feature is <a href="https://github.com/perfectapi/ChromeKeePass/wiki/On-disk-caching-of-open-database" target="_blank">available on the CKP wiki</a>.
</fieldset>
