<fileTypes>
  You can access your password database from any of the locations listed below.
  Hover over one of them with your mouse for more information.
  <br /><br />
  Where is your password database? (click to choose)
  <div class="pure-g">

    <div class="pure-u-1-4" ng-repeat="fm in fileManagers track by $index">
      <fileType ng-click="choose(fm)" ng-mouseenter="setDescription(fm)" ng-mouseleave="clearDescription()">
        <icon p="{{fm.icon}}"></icon>
        <span ng-bind="fm.chooseTitle"></span>
      </fileType>
    </div>

    <!--
    <div class="pure-u-1-3">
      <fileType ng-click="">
        <svg class="icon icon-flask"><use xlink:href="#icon-flask"></use></svg>
        <span>Vote for Another?</span>
      </fileType>
    </div>
    -->
    <div class="pure-u-1" style="min-height: 120px;">
      <infoMessage ng-show="description" ng-bind="description"></infoMessage>
    </div>
  </div>
</fileTypes>
