
<login ng-if="!authorized && !busy">
    If you have already-existing KeePass (.kdbx or .kdb) files stored in your OneDrive, then you can access them.
    <br><br>
    Chrome will ask you to allow this extension to access your OneDrive, and OneDrive will ask you to allow this extension to read your files.
    <br><br>

    <a class="pure-button" ng-click="authorize()">Authorize</a>
</login>

<infoMessage ng-if="busy">Loading...</infoMessage>

<infoMessage ng-if="authorized && !busy && files.length == 0">No keepass databases found</infoMessage>

<fieldset ng-if="authorized && files && files.length > 0">
	<infoMessage ng-if="authorized && files && files.length > 0">The following files are now accessible, and you will be able to choose one later (when logging into a website).  Unless you have a key file to load, CKPX is setup and ready to use!</infoMessage>

	<files>
	    <filelist>
	      <ul>
	        <li ng-repeat="file in files" class="not-selectable">
	          {{ file.title }}
	        </li>
	      </ul>
	    </filelist>
	</files>	
</fieldset>

<logout ng-if="authorized && !busy">
    <a class="pure-button" ng-click="deauthorize()">Deauthorize</a>
</logout>
