
If you don't have a KeePass database already, or if you prefer to try out ChromeKeePass
with a sample database, check the box below to make the sample available.
<pageInfo>
  <input id="useSample" type="checkbox" ng-model="useSample" ng-change="updateSampleFlag()"> <label for="useSample">Use sample database, for testing only.</label>
</pageInfo>

<successMessage ng-show="useSample">
  Try it out now - click <a href="http://keepass.info/help/kb/testform.html" target="_blank">http://keepass.info/help/kb/testform.html</a>.
  On that page, look for the KeePass icon in the right hand side of the address bar, and click it.
  The password is "123".
</successMessage>
