<fieldset>
  ChromeKeePass is an extension that uses your existing KeePass database files to autofill passwords on websites.
  <br>
  <br> The extension is only visible when you go to a web page that has input fields. When it activates, it shows a small KeePass icon on the right hand side of the browser address bar. Clicking on the icon will give you options to connect to your KeePass
  database, unlock it, and then autofill in the password on the website.
  <br>
  <br>
  <pageInfo ng-hide="alreadyChoseDb">
    To continue, you should...
    <ol>
      <li>
        <a href="#/databases">Click on the "KeePass Databases" menu</a> to show it where to find a KeePass database.
      </li>
      <li>
        Go to a website with a login page, and try it out. (<a href="http://keepass.info/help/kb/testform.html" target="_blank">for example</a>)
      </li>
    </ol>
  </pageInfo>
  If your database requires a key file then you should also <a href="#/keyFiles">click on the "Key Files" menu</a> to load your key file.
</fieldset>
