
<fieldset ng-show="localData.length">
  We store only the data we need in order to provide a secure and user-friendly experience.
  We never store a master password or decrypted databases and we never send this data anywhere.
  <br><br>
  This data is stored locally in Chrome.  It is not accessible to websites, or
  to other Chrome extensions. You can use the "Delete" buttons to remove the data if you so wish.
  <table class="pure-table pure-table-horizontal fixed">
    <thead>
      <tr>
        <th class="key">Entry</th>
        <th class="json">Data</th>
        <th class="action"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in localData track by entry.key">
        <td class="key">{{entry.key}}</td>
        <td class="json">
          <json-formatter json="entry.data" open="1"></json-formatter>
        </td>
        <td class="action">
          <button class="pure-button" ng-click="deleteLocalData(entry.key)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
<fieldset ng-show="syncData.length">
  <legend>Synchronized Stored Data - (stored on all Chrome browsers where you are logged in).</legend>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Entry</th>
        <th>Data</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in syncData">
        <td>{{entry.key}}</td>
        <td>
          <json-formatter json="entry.data" open="1"></json-formatter>
        </td>
        <td>
          <button class="pure-button" ng-click="deleteSyncData(entry.key)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
<fieldset ng-show="permissions.origins">
  <legend>Origin Permissions - the extension uses these rights to autofill passwords on the site.</legend>
  When you grant access to fill in a password on a site, Chrome remembers that access. You can make ChromeKeePass forget its access below if you so wish, however Chrome will silently re-grant the permission if requested.
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Site</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in permissions.origins">
        <td>{{entry}}</td>
        <td>
          <button class="pure-button" ng-click="deleteOriginPermission(entry)">Forget</button>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
<!--
  <fieldset ng-show="permissions.permissions">
    <legend>Chrome Permissions</legend>
    <table class="pure-table pure-table-horizontal">
      <thead><tr>
        <th>Permission</th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="entry in permissions.permissions">
          <td>{{entry}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
-->
