<docs>
  <infoMessage ng-hide="authorized()">
    <p>If you have already-existing KeePass (.kdbx) files stored in your google drive, then you can access them.</p>
    <p>Chrome will ask you to allow this extension to access the Google Drive websites, and Google Drive will ask you to allow this extension to read your files.</p>
    <p>Note that you will not be able to access your password files on Google Drive when in Ingognito mode.</p>
  </infoMessage>
  <button class="pure-button" ng-hide="authorized()" ng-click="authorize()">
    <svg class="icon icon-google">
      <use xlink:href="#icon-google"></use>
    </svg>Authorize</button>
  <button class="pure-button" ng-click="fetchDocs(false)" ng-show="authorized()">
    <svg class="icon icon-google">
      <use xlink:href="#icon-google"></use>
    </svg>Refresh</button>
  <button class="pure-button" ng-show="authorized()" ng-click="logout()">
    <svg class="icon icon-lock">
      <use xlink:href="#icon-lock"></use>
    </svg>Deauthorize</button>
  <busyMessage ng-show="busy"></busyMessage>
  <errorMessage ng-show="errorMessage">{{errorMessage}}</errorMessage>
  <successMessage ng-show="successMessage">{{successMessage}}</successMessage>
  <fieldset ng-show="authorized() && docs && docs.length">
    <legend>Choose a password file:</legend>
    <filelist>
      <ul>
        <li ng-repeat="doc in docs" ng-click="choosePasswordFile(doc)">
          {{doc.title}}
        </li>
      </ul>
    </filelist>
  </fieldset>
  <errorMessage ng-show="!refreshing && authorized() && (docs == null || docs.length == 0)">ChromeKeePass has accessed your drive but could not find any password files. Ensure your .kdbx file is in the root folder of your google drive.</errorMessage>
</docs>