
<div droppable drop="handleDrop">
  <drop-target ng-show="allowDrop">
  To add or update your KeePass file, drag it from your file system or desktop onto this area.
  <p>Alternatively, click the button below to choose a file to upload</p>
  </drop-target>
  <input type="file" style="display:none" id="file" name='file' file-change="handleDrop" multiple />
  <span ng-show="allowDrop">or... </span><button class="pure-button pure-button-primary" ng-click="selectFile()">Browse Files</button>
  <errorMessage ng-show="errorMessage">{{errorMessage}}</errorMessage>
  <fieldset ng-show="files.length">
    <legend>Choose an uploaded password file:</legend>
  	<filelist>
  		<ul>
  			<li ng-repeat="file in files track by file.title" ng-click="choosePasswordFile(file)">
  				{{file.title}} <date>({{file.lastModified | date:short}})</date>
  				<a class="removeFile" title="Remove" ng-click="removePasswordFile(file)"><svg class="icon icon-times-circle"><use xlink:href="#icon-times-circle"></use></svg></a>
  			</li>
  		</ul>
  	</filelist>
  </fieldset>
  <successMessage ng-show="loadedFiles > 0">
    <ng-pluralize count="loadedFiles" when="{'one': '1 file added or updated.', 'other': '{} files added or updated.'}"></ng-pluralize>
    Files are stored in Chrome, so you won't need to add them again on this device.  Click on the one that you want to use right now.
  </successMessage>

</div>