<passwords>
  <statusMessage>{{fileName}}
    <a href="" ng-click="chooseAnotherFile()" style="float: right;">Choose a different File</a>
  </statusMessage>
  <div>
    <div ng-show="!unlockedState.entries">
      <compositeKeyPart ng-hide="hideKeyFile">
        <keyFileName class="pure-form">
          <div class="center" ng-show="selectedKeyFile">Key File = {{selectedKeyFile.name}}</div>
          <select ng-show="!selectedKeyFile && keyFiles && keyFiles.length" ng-model="selectedKeyFile" ng-options="keyFile.name for keyFile in keyFiles">
            <option value="">-- choose key file --</option>
          </select>
          <button class="pure-button" ng-show="!selectedKeyFile" ng-class="{fill: !keyFiles || keyFiles.length == 0}" ng-click="manageKeyFiles()">
            <icon p="icon-key2"></icon>Manage Key Files
          </button>
        </keyFileName>
      </compositeKeyPart>
      <form action="#" name="pwd" class="pure-form" ng-show="!unlockedState.entries">
        <compositeKeyPart ng-hide="hidePassword">
          <input type="password" class="fill" placeholder="Master Password" ng-model="masterPassword" ng-keydown="clearMessages()" ng-readonly="busy" auto-focus>
        </compositeKeyPart>
        <div>
          <button type="submit" id="submitPassword" class="pure-button pure-button-primary fill" ng-click="enterMasterPassword()" ng-disabled="busy">
            Unlock
          </button>
        </div>
      </form>
    </div>
    <busyMessage ng-show="busy">Unlocking password file...</busyMessage>
    <pageInfo ng-show="unlockedState.entries && (unlockedState.url || unlockedState.title)">{{unlockedState.title}} - {{unlockedState.origin}}</pageInfo>
    <successMessage ng-show="unlockedState.sitePermission">Security green. You have previously granted CKP permission to fill passwords on this site.</successMessage>
    <warningMessage ng-show="!unlockedState.sitePermission && !!partialMatchMessage">Security yellow. This may be a new site to CKP. Before filling in a password, double check that this is the correct site.</warningMessage>
    <errorMessage ng-show="errorMessage">{{errorMessage}}</errorMessage>
    <ng-include src="'partials/password-list.html'"></ng-include>
    <button class="pure-button fill" ng-show="unlockedState.entries != null" ng-click="findManually()">
      <icon p="icon-search"></icon>
      Find Manually
    </button>
    <successMessage ng-show="successMessage">{{successMessage}}</successMessage>
    <successMessage ng-show="unlockedState.clipboardStatus">{{unlockedState.clipboardStatus}}</successMessage>
    <warningMessage ng-show="partialMatchMessage">{{partialMatchMessage}}</warningMessage>
  </div>
</passwords>
