<passwords>
  <statusMessage>{{fileName}}
    <a href="" ng-click="chooseAnotherFile()" style="float: right;">Choose a different File</a>
  </statusMessage>
	<div>
	  <div ng-show="!entries">
		  <compositeKeyPart ng-hide="hideKeyFile">
  			<input type="file" style="display:none;" id="file" name='file' file-change="handleKeyFile" />
	      <keyFileName><span>{{keyFileName}}</span><span style="float:right;" ng-show="keyFileName"><input type="checkbox" id="keep" ng-model="rememberKeyFile"><label for="keep">Remember</label></keyFileName></span>
	      <button class="pure-button fill" ng-click="selectFile()"><icon p="icon-key2"></icon>Choose Key File</button>
      </compositeKeyPart>
      <form action="#" name="pwd" class="pure-form" ng-show="!entries">
			  <compositeKeyPart ng-hide="hidePassword">
    			<input type="password" class="fill" placeholder="Master Password" ng-model="masterPassword" ng-keydown="clearMessages()" ng-readonly="busy" auto-focus>
			  </compositeKeyPart>
			  <div>
  				<button type="submit" id="submitPassword" class="pure-button pure-button-primary fill" ng-click="enterMasterPassword()" ng-disabled="busy">
  					Unlock
  				</button>
  			</div>
      </form>
	  </div>
		<busyMessage ng-show="busy">Unlocking password file...</busyMessage>
		<pageInfo ng-show="entries && (url || title)">{{title}} - {{origin}}</pageInfo>
		<errorMessage ng-show="errorMessage">{{errorMessage}}</errorMessage>
		<table ng-show="entries" class="pure-table pure-table-horizontal">
		  <thead><tr>
		    <th>Entry</th>
		    <th>Username</th>
		    <th>Password</th>
		  </tr></thead>
		  <tbody>
		    <tr ng-repeat="entry in entries" title="{{entry.Notes}}">
		      <td>{{entry.Title || entry.Url}}</td>
		      <td>{{entry.UserName}}</td>
		      <td>
		         <a href="" ng-click="copyPassword(entry)" title="Copy password to clipboard" ng-hide="entry.copied"><icon p="icon-copy"></icon></a>
             <span ng-show="entry.copied">Copied</span>
             <a href="" ng-click="autofill(entry)" title="Auto-fill credentials on site"><icon p="icon-edit"></icon></a>
		      </td>
		    </tr>
	    </tbody>
		</table>
		<successMessage ng-show="successMessage">{{successMessage}}</successMessage>
    <partialMatchWarning ng-show="partialMatchMessage">{{partialMatchMessage}}</partialMatchWarning>
	</div>
</passwords>
