<passwords>
  <statusMessage>{{fileName}}
    <a href="" ng-click="chooseAnotherFile()" style="float: right;">Choose a different File</a>
  </statusMessage>
	<div ng-controller="MasterPasswordController">
	  <form action="#" name="pwd" class="pure-form" ng-show="!entries">
			<fieldset>
			 <legend>Enter master password to unlock your password file</legend>
				<input type="password" placeholder="Master Password" ng-model="masterPassword" ng-keydown="clearMessages()" ng-readonly="busy">
				<button type="submit" id="submitPassword" class="pure-button pure-button-primary" ng-click="enterMasterPassword()" ng-disabled="busy">
					Enter
				</button>
				<busyMessage ng-show="busy">Unlocking password file...</busyMessage>
			</fieldset>
		</form>
		<pageInfo ng-show="entries && (url || title)">{{title}} - {{url}}</pageInfo>
		<errorMessage ng-show="errorMessage">{{errorMessage}}</errorMessage>
		<table ng-show="entries" class="pure-table pure-table-horizontal">
		  <thead><tr>
		    <th>Entry</th>
		    <th>Username</th>
		    <th>Password</th>
		  </tr></thead>
		  <tbody>
		    <tr ng-repeat="entry in entries" title="{{entry.Notes}}">
		      <td>{{entry.Title || entry.Url}}</td>
		      <td>{{entry.UserName}}</td>
		      <td>
		         <a href="" ng-click="copyPassword(entry)" title="Copy password to clipboard" ng-hide="entry.copied"><svg class="icon icon-copy"><use xlink:href="#icon-copy"></use></svg></a>
		         <span ng-show="entry.copied">Copied</span>
		      </td>
		    </tr>
	    </tbody>
		</table>
		<successMessage ng-show="successMessage">{{successMessage}}</successMessage>
	</div>
</passwords>
