
<a href="" ng-click="goBack()" style="float: right;">Go Back</a>
<a href="" ng-click="unlockedState.copyPassword(entry)" title="Copy password to clipboard" ng-hide="entry.copied">Copy Password</a>
<span ng-show="entry.copied" class="copied">Copied</span>
<span ng-show="!entry.copied">&nbsp;or&nbsp;</span>
<a href="" ng-click="unlockedState.autofill(entry)" title="Auto-fill credentials on site">AutoFill</a>
<table class="pure-table pure-table-horizontal">
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Value</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="attr in attributes track by $index">
			<td ng-bind="attr.key"></td>
			<td ng-bind-html="attr.value"></td>
			<td>
				<a ng-if="attr.protected && attr.value == ''" href="" ng-click="exposeAttribute(attr)">Show</a>
				<a ng-if="attr.protected && attr.value != ''" href="" ng-click="attr.value = ''">Hide</a>
			</td>
		</tr>
	</tbody>
</table>
