<table ng-show="unlockedState.entries" class="pure-table pure-table-horizontal entries" ng-controller="passwordListController">
  <thead>
    <tr>
      <th width="1" ng-show="settings.PasswordListIconOption.group"></th>
      <th width="80" ng-show="settings.PasswordListGroupOption">Group</th>
      <th width="1" ng-show="settings.PasswordListIconOption.entry"></th>
      <th width="120">Entry</th>
      <th width="120">Username</th>
      <th width="72">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in unlockedState.entries | filter: {'filterKey': filter} ">
      <td ng-show="settings.PasswordListIconOption.group"><i class="keepass-icon icon-id-{{ ('0' + entry.groupIconId).slice(-2) }}"></i></td>
      <td ng-show="settings.PasswordListGroupOption">{{entry.groupName}}</td>
      <td ng-show="settings.PasswordListIconOption.entry"><i class="keepass-icon icon-id-{{ ('0' + entry.iconId).slice(-2) }}"></i></td>
      <td><a href="" ng-click="unlockedState.gotoDetails(entry)" title="View Complete Entry"><icon p="icon-eye2"></icon></a>{{::entry.title || entry.url}}</td>
      <td ng-bind="::entry.userName"></td>
      <td>
        <a href="" ng-click="unlockedState.copyPassword(entry)" title="Copy password to clipboard">
          Copy
        </a>
        <span>&nbsp;or&nbsp;</span>
        <a href="" ng-click="unlockedState.autofill(entry)" title="Auto-fill credentials on site">
          AutoFill
        </a>
      </td>
    </tr>
  </tbody>
</table>
