<table ng-show="unlockedState.entries.length >= 1" class="pure-table pure-table-horizontal entries" ng-controller="passwordListController">
  <thead>
    <tr>
      <th width="1" ng-show="settings.PasswordListIconOption.group"></th>
      <th width="80" ng-show="settings.PasswordListGroupOption">Group</th>
      <th width="1" ng-show="settings.PasswordListIconOption.entry"></th>
      <th width="120">Entry</th>
      <th width="132">Username</th>
      <th width="72">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in filteredEntries" ng-class="{highlighted: selectedIndex === $index}" auto-scroll="selectedIndex === $index">
      <td ng-show="settings.PasswordListIconOption.group"><i class="keepass-icon icon-id-{{ ('0' + entry.groupIconId).slice(-2) }}"></i></td>
      <td ng-show="settings.PasswordListGroupOption">{{entry.groupName}}</td>
      <td ng-show="settings.PasswordListIconOption.entry"><i class="keepass-icon icon-id-{{ ('0' + entry.iconId).slice(-2) }}"></i></td>
      <td ng-class="{strike:entry.is_expired}">
      	<a href="" ng-click="unlockedState.gotoDetails(entry)" title="View Complete Entry" class="align-middle">
      		<i class="fa fa-eye list-icon" aria-hidden="true"></i>
      	</a>
      	<span>{{::entry.title || entry.url}}</span>
      </td>
      <td ng-bind="::entry.userName" ng-class="{strike:entry.is_expired}"></td>
      <td class="action-buttons">
        <a href="" ng-click="unlockedState.copyPassword(entry)" title="Copy password to clipboard">
          <i class="fa fa-clipboard list-icon" aria-hidden="true"></i>
        </a>
        <span>&nbsp;&nbsp;</span>
        <a href="" ng-click="unlockedState.autofill(entry)" title="Auto-fill credentials on site">
          <i class="fa fa-magic list-icon" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
