<table ng-show="unlockedState.entries" class="pure-table pure-table-horizontal entries">
  <thead>
    <tr>
      <th width="100">Entry</th>
      <th>Username</th>
      <th width="65">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in unlockedState.entries | filter: {'filterKey': filter} ">
      <td><a href="" ng-click="unlockedState.gotoDetails(entry)" title="View Complete Entry"><icon p="icon-eye2"></icon></a>{{::entry.title || entry.url}}</td>
      <td ng-bind="::entry.userName"></td>
      <td>
        <a href="" ng-click="unlockedState.copyPassword(entry)" title="Copy password to clipboard" ng-hide="entry.copied">
          Copy
        </a>
        <span ng-show="entry.copied" class="copied">Copied</span>
        <span ng-show="!entry.copied">&nbsp;or&nbsp;</span>
        <a href="" ng-click="unlockedState.autofill(entry)" title="Auto-fill credentials on site">
          AutoFill
        </a>
      </td>
    </tr>
  </tbody>
</table>
